{% extends "base.html.twig" %}

{% block title %}DECK{% endblock %}

{% block body %}
{% include 'Card/navbar.html.twig' %}

<h1>Roll many dice</h1>

{% for card in cards %}
    <li class="cards"> {{ card["graphic"] | raw}} </li>
{% endfor %}

{# <ul>
{% for roll in cardRoll %}
    <li class="cards">{{ roll |raw }}</li>
{% endfor %}
</ul> #}
{# <ul>
{% for item in deck %}
    {% for value in item %}
        <li class="cards">{{ value.value | raw }}</li>
    {% endfor %}
{% endfor %}
</ul> #}

{# <p>Try to roll 
    <a href="{{ path('test_roll_num_dices', {num: 5}) }}">5</a>
    or 
    <a href="{{ path('test_roll_num_dices', {num: 10}) }}">10</a>
    dices.
</p> #}
{% endblock %}
