<ul class="navbar-nav-card">
    <li class="nav-item-card">
        <a href="{{ path('card') }}" class="-nav-link-card">Card</a>
    </li>
    <li class="nav-item-card">
        <a href="{{ path('deck') }}" class="-nav-link-card">Deck</a>
    </li>
    <li class="nav-item-card">
        <a href="{{ path('shuffle') }}" class="-nav-link-card">Shuffle</a>
    </li>
    <li class="nav-item-card">
        <a href="{{ path('draw') }}" class="-nav-link-card">Deck Draw</a>
    </li>
        </li>
    <li class="nav-item-card">
        <a href="{{ path('drawNum', {num: 4})}}" class="-nav-link-card">Draw 4 cards</a>
    </li>
</ul>
