{% extends "base.html.twig" %}

{% block title %}Spel{% endblock %}

{% block body %}

{% if draw is defined %}
    <li class="cards"> You drew: {{ draw["graphic"] | raw }} </li>
    <br>
{% endif %}


{% if playerHand is defined %}
    {% for card in playerHand %}
        <li class="cards"> {{ card["graphic"] | raw }} </li>
    {% endfor %}
{% endif %}


{% if bustedOrNot is defined %}
    {{bustedOrNot}}
{% endif %}

<form method="post" action="">
<p>
    <input type="submit" name="drawCard" value="Dra kort"
    onClick="this.form.action='{{ path('start') }}';">  

    <input type="submit" name="stop" value="Stanna"
    onClick="this.form.action='{{ path('stop') }}';">

    <input type="submit" name="restart" value="Starta om"
    onClick="this.form.action='{{ path('restart') }}';">
</p>
</form>


{% endblock %}
