{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <h1>Api</h1>
    <div class="api-quote">
        <li class="nav-item">
        <a href="{{ path('quote') }}">Skämt quote</a>
        </li>
        Den här routen visar ett api på quotes som är importerade från ApiNinjas.
        <br>Den visar <b>tid</b>, <b>skämt</b> & <b>datum</b>
    </div>
    <div class="api-quote">
        <li class="nav-item">
            <a href="{{ path('apiDeck') }}">api_deck</a>
        </li>
    </div>

    <div class="api-quote">
        <form method="post" action="">
        <p>
            <input type="submit" name="shuffle" value="shuffle"
                onClick="this.form.action='{{ path('apiDeckShuffle') }}';">

            <input type="submit" name="draw" value="draw"
                onClick="this.form.action='{{ path('apiDeckDraw') }}';">

            <input type="submit" name="apiDeckDrawNum" value="draw deck"
                onClick="this.form.action='{{ path('apiDeckDrawNum', {num: 4}) }}';">
        </p>
    </div>
</form>
{% endblock %}
